<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  	<servlet-name>Add</servlet-name>
  	<servlet-class>com.Abhinav.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Add</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>LifeCycle</servlet-name>
  	<servlet-class>com.Abhinav.LifeCycle</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LifeCycle</servlet-name>
  	<url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>SignIn</servlet-name>
  	<servlet-class>com.RequestDispatcher.SignIn</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/sign-in</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>com.RequestDispatcher.Home</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>